a:link {
  color: rgb(199, 0, 0);
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: blue;
  background-color: transparent;
  text-decoration: underline;
}

a {
  color: rgb(0, 0, 0);
}
