.nav-item .dropdown-menu > li {
    text-align: center;
}

.nav-item > a:hover {
  background-color: white;
  color: black;
  border-radius: 25px;
}

.nav-item > a:link {
  border-radius: 25px;
}

.custom-nav {
  background: #C6A15B;
  font-size: 18px;
}

.custom-nav .navbar-brand {
  color: white;
}

.custom-nav .nav-link {
  color: white;
}

.dropdown > a {
  color: white;
  text-decoration: none;
}

.custom-nav-dropdown > button {
  border-radius: 10px;
  border-width: 2px;
  border-color: #2E3138;
}

body {
background-color: #2E3138;
font-family: 'PT Serif', serif;
}
